.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin-top: 8vh;
}

.header{
    font-weight: 900;
    font-size: xx-large;
}

.input {
    max-width: 50vw;
    padding: 20px;
}

.button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.time {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.icon {
    margin: 50;
}